<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep rowerowy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/css/style.css">
</head>
<body>
<div class="topnav">
    <a th:href="@{/}">Strona główna</a>
    <a th:href="@{/shop/}">Sklep</a>
    <a href="">Nowości</a>
    <a href="">Kontakt</a>
    <a class="active" th:href="@{/shop/basket/}">Koszyk</a>

</div>
<table>
    <tr>
        <th>Id</th>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Ilość</th>
    </tr>
    <tr th:each="product : ${products}">
        <form action="#" method="post" th:action="@{/shop/basket/}" th:object-="${productInfo}">
            <td><input th:value="${product.productId}" name="productId" readonly/></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.quantity}"></td>
            <td><input type="submit" value="Usuń"></td>
        </form>
    </tr>

</table>
<p>Calkowity koszt zamowienia <p th:text="${price}"></p></p>
            <br>
            <br>
            <br>
        <form action="#" method="post" th:action="@{/shop/basket/order}" th:object-="${deliveryInfo}">
            <label for="zipCode">Kod pocztowy:</label>
            <input name="zipCode" id="zipCode" type="text" th:value="*{zipCode}" required="required"/><br>
            <label for="street">Ulica:</label>
            <input name="street" id="street" type="text" th:value="*{street}" required="required"/><br>
            <label for="houseNumber">Nr. Domu:</label>
            <input name="houseNumber" id="houseNumber" type="number" th:value="*{houseNumber}" min="1" required="required"/><br>
            <label for="apartmentNumber">Nr. Mieszkania:</label>
            <input name="apartmentNumber" id="apartmentNumber" type="number" th:value="*{apartmentNumber}" min="1" /><br>
            <label for="city">Miejscowość:</label>
            <input name="city" id="city" type="text" th:value="*{city}" required="required"/><br>

            <td><input type="submit" value="Zamów">
        </form>
        <form action="#" method="post" th:action="@{/shop/basket/cancel}">
           <input type="submit" value="Anuluj">
        </form>
    </tr>
</table>
</body>
</html>