<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep rowerowy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/css/style.css">
</head>
<body>
<div class="topnav">
    <a class="active" th:href="@{/}">Strona główna</a>
    <a th:href="@{/shop/}">Sklep</a>
    <a href="">Nowości</a>
    <a href="">Kontakt</a>
    <a th:href="@{/shop/basket/}">Koszyk</a>
</div>
<a class="login" th:href="@{/login}">Logowanie</a>
<a class="register" th:href="@{/register}">Rejestracja</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj">
</form>
<br>
<br>
<br>
<br>
<br>
<a class="loadData" th:href="@{/loadData}">Załaduj przykładowe rowery</a>
</body>
</html>