<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep rowerowy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="topnav">
    <a th:href="@{/}">Strona główna</a>
    <a class="active" th:href="@{/shop/}">Sklep</a>
    <a href="">Nowości</a>
    <a href="">Kontakt</a>
    <a th:href="@{/shop/basket/}">Koszyk</a>
</div>
<div th:if="${ not#lists.isEmpty(products)}">

    <table>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th></th>
        </tr>
        <tr th:each="product : ${products}">
            <form action="#" method="post" th:action="@{/shop/}" th:object-="${productInfo}">
                <td><input type="hidden" th:value="${product.id}" name="productId" /></td>
                <td><input name="productName" th:value="${product.productName}"  disabled/></td>
                <td th:text="${product.price}"></td>
                <td><input name="quantity" id="quantity" type="number" th:value="*{quantity}"/></td>
                <td><input type="submit" value="Dodaj">
                </td>
            </form>
        </tr>
    </table>
    <a th:href="@{/shop/basket/}">Podsumowanie</a>

</div>
</body>
</html>