<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep rowerowy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/css/style.css">
</head>
<body>
<div class="topnav">
    <a class="active" th:href="@{/}">Strona główna</a>
    <a th:href="@{/shop/}">Sklep</a>
    <a href="">Nowości</a>
    <a href="">Kontakt</a>
    <a th:href="@{/shop/basket/}">Koszyk</a>


</div>
<h1>Rejestracja</h1>
<form method="POST" th:action="@{/register}" id="registerForm">
    <label for="username">Nazwa użytkownika: </label>
    <input type="text" name="username" id="username" required="required"/><br/>
    <label for="password">Hasło: </label>
    <input type="password" name="password" id="password" required="required"/><br/>
    <label for="firstName">Imię: </label>
    <input type="text" name="firstName" id="firstName" required="required"/><br/>
    <label for="lastName">Nazwisko: </label>
    <input type="text" name="lastName" id="lastName" required="required"/><br/>
    <label for="birthDate">Data urodzenia: </label>
    <input type="date" name="birthDate" id="birthDate" required="required"/><br/>

    <input type="submit" value="Zarejestruj sie"/>

</form>
</body>
</html>